<app-header></app-header>

<br>
<h1><b>Where work
<span style="color:rgb(219, 126, 50)">happens</span></b></h1>
<div class ="about">
    <br>
<p>When the company hires new employees, especially freshers with no corporate experience, special attention is needed in training and grooming. Likewise, they need a tremendous amount of grooming, like corporate communication, developing interpersonal skills, etc., as they need to gain work experience in an office environment.
    <br><br>
    One of the best measures to fulfill the above scenario is to conduct regular reviews regarding their performance. These periodic review helps the mentor to know the ability of their juniors to help and appreciate them accordingly.
    <br><br>
    The <b>TAgReview</b> is an app that helps the mentor add feedback that is visible to the concerned employees.</p>
</div>
<img [src] = source class="image">