h1 {
    margin-left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
  }

.image{
    margin-left: 47%;
    width: 55%;
    top: 170px;
    position: absolute;
}

.about{
    width: 40%;
    text-align: justify;
    position: relative;
    right: -5%;
    font-size: 17px;
}